---
_id: 5K7CMa6dEL7TN7sae
title: 3 Levels of Rationality Verification
author: Eliezer Yudkowsky
url: null
slug: 3-levels-of-rationality-verification
type: post
tags:
  - LessWrong
  - Concept
  - Post
  - Mechanism_Design
  - Empiricism
  - Skill_/ Expertise Assessment
  - Skill_Building
  - Rationality_Verification
  - Skill_/_Expertise_Assessment
href: >-
  https://www.lesswrong.com/posts/5K7CMa6dEL7TN7sae/3-levels-of-rationality-verification
sequence: The Craft and the Community
chapter: null
synchedAt: '2022-09-01T09:35:29.014Z'
status: todo
collection: 'Rationality: A-Z'
book: Becoming Stronger
---

# 3 Levels of Rationality Verification


# Related

- [[Mechanism Design]]
- [[Empiricism]]
- [[Skill / Expertise Assessment]]
- [[Skill Building]]
- [[Rationality Verification]]
- [[A Sense That More Is Possible]]
- [[Schools Proliferating Without Evidence]]
- "[replicable](http://www.overcomingbias.com/2007/08/scientific-evid.html)"
- [[Lost Purposes]]