---
_id: 5K7CMa6dEL7TN7sae
title: 3 Levels of Rationality Verification
author: Eliezer Yudkowsky
url: null
slug: 3-levels-of-rationality-verification
type: post
tags:
  - LessWrong
  - Concept
  - Post
  - Mechanism_Design
  - Empiricism
  - Skill_/ Expertise Assessment
  - Skill_Building
  - Rationality_Verification
href: >-
  https://www.lesswrong.com/posts/5K7CMa6dEL7TN7sae/3-levels-of-rationality-verification
sequence: The Craft and the Community
chapter: null
synchedAt: '2022-08-30T08:17:31.492Z'
---

# 3 Levels of Rationality Verification
