---
_id: 5f5c37ee1b5cdee568cfb163
title: Rationality Verification
href: https://lesswrong.com/tag/rationality-verification
slug: rationality-verification
type: tag
tags:
  - LessWrong
  - Concept
  - Tag
synchedAt: '2022-08-29T10:47:58.942Z'
aliases:
  - Problem of verifying rationality
status: todo
---

# Rationality Verification

**Verifying rationality is possibly the single largest problem** for those desiring to create methods of systematically training for increased epistemic and instrumental [[Rationality|rationality]] \- how to verify that the training actually *worked*. Very Awful Things happen to people who set out to build training methods and schools without *strong* means of verification - two hideous historical examples being modern-day practice of martial arts (once the teachers are no longer fighting duels to the death) and the proliferating "schools" of psychotherapy (in the entire absence of any experimental evidence that one school worked better than another, and indeed, in the presence of experimental evidence that the schools did *no* have any discernible difference in effectiveness).

## External Links

- [Rational Poker](http://rationalpoker.com/) by Louie
- (book) [The Rationality Quotient: Toward a Test of Rational Thinking](https://mitpress.mit.edu/books/rationality-quotient) ([review](https://www.sciencedirect.com/science/article/abs/pii/S0160289616303555) by Stuart Ritchie, [review](http://www.bayesianinvestor.com/blog/index.php/2017/01/07/rationality-quotient/) by [pcm](https://www.lesswrong.com/users/pcm))
- [The Comprehensive Assessment of Rational Thinking](http://www.keithstanovich.com/Site/Research_on_Reasoning_files/Stanovich_EdPsy_2016.pdf) (CART) by Keith E. Stanovich ([sci-hub](https://sci-hub.se/10.1080/00461520.2015.1125787))
- [Thinking style quiz](http://programs.clearerthinking.org/how_rational_are_you_really_take_the_test.html) by [clearerthinking.org](https://www.clearerthinking.org/) ([LW Discussion](https://www.lesswrong.com/posts/R2mPGwFvXSy4nCMgj/take-the-rationality-test-to-determine-your-rational#ChMTSFFZGPakafojF))
- [Cognitive Reflection Test](https://en.wikipedia.org/wiki/Cognitive_reflection_test) ([LW Discussion](https://www.lesswrong.com/posts/vk2yS8osapSch9Cz2/the-bat-and-ball-problem-revisited))

## See Also

- [[ Problem-Sets]]
- [The Craft and the Community](https://www.lesswrong.com/tag/the-craft-and-the-community)
- [[Rationality]]
- [[Rationality As Martial Art|Rationality as martial art]]
- [[Decision Theory|Decision theory]]
