---
title: Rationality Verification
href: https://lesswrong.com/tags/rationality-verification
type: tag
tags:
  - LessWrong
  - Concept
  - Tag
---

**Verifying rationality is possibly the single largest problem** for those desiring to create methods of systematically training for increased epistemic and instrumental [[Rationality|rationality]] \- how to verify that the training actually *worked*. Very Awful Things happen to people who set out to build training methods and schools without *strong* means of verification - two hideous historical examples being modern-day practice of martial arts (once the teachers are no longer fighting duels to the death) and the proliferating "schools" of psychotherapy (in the entire absence of any experimental evidence that one school worked better than another, and indeed, in the presence of experimental evidence that the schools did *no* have any discernible difference in effectiveness).

External links
--------------

*   [Rational Poker](http://rationalpoker.com/) by Louie
*   (book) [The Rationality Quotient: Toward a Test of Rational Thinking](https://mitpress.mit.edu/books/rationality-quotient) ([review](https://www.sciencedirect.com/science/article/abs/pii/S0160289616303555) by Stuart Ritchie, [review](http://www.bayesianinvestor.com/blog/index.php/2017/01/07/rationality-quotient/) by [pcm](https://www.lesswrong.com/users/pcm))
*   [The Comprehensive Assessment of Rational Thinking](http://www.keithstanovich.com/Site/Research_on_Reasoning_files/Stanovich_EdPsy_2016.pdf) (CART) by Keith E. Stanovich ([sci-hub](https://sci-hub.se/10.1080/00461520.2015.1125787))
*   [Thinking style quiz](http://programs.clearerthinking.org/how_rational_are_you_really_take_the_test.html) by [clearerthinking.org](https://www.clearerthinking.org/) ([[Take the Rationality Test to determine your rational thinking style|LW Discussion]])
*   [Cognitive Reflection Test](https://en.wikipedia.org/wiki/Cognitive_reflection_test) ([[The Bat and Ball Problem Revisited|LW Discussion]])

See also
--------

*   [Exercises / Problem-Sets](https://www.lesswrong.com/tag/exercises-problem-sets)
*   [The Craft and the Community](https://www.lesswrong.com/tag/the-craft-and-the-community)
*   [Rationality](https://www.lesswrong.com/tag/rationality)
*   [[Rationality As Martial Art|Rationality as martial art]]
*   [Decision theory](https://www.lesswrong.com/tag/decision-theory)