---
_id: a78XXmCuD3eFLYzph
title: Verification
href: https://www.lesswrong.com/tag/verification
slug: verification
type: tag
tags:
  - LessWrong
  - Concept
  - Tag
synchedAt: '2022-09-01T09:42:18.871Z'
status: todo
---

# Verification


%%

% START
Basic (and reversed card)
What is **Verification**?
Back: {TODO}
Tags: LessWrong
END
<!--ID: 1663156959113-->


%%
	
